.wer{
    border: 2px black solid;
    width: 450px;
    height: 500px;
    background-color: black;
    margin: 1rem ;
    padding: 1rem;
    border-radius: 20px;
}
.wer img{
   width: 100%;
   height: 300px;
}
.wer h4, h1 , h3{
   color: white;
}
.box3{
    background-color: #292E36;
    display: flex;
    flex-wrap: wrap;
}
button{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    margin-top: 2rem;
}